<a href="https://colab.research.google.com/github/Chinuaoku/Python-Data-Structures/blob/main/Python_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA STRUCTURES

# String Data Type
* A string is a sequence of characters
* A string literally uses quotes 'Hello' or "Hello"
* For strings, + means "concatenate"
* When a string contains numbers, it is still a string
* We can convert numbers in a string into a number using int()

In [2]:
str1 = "Hello "
str2 = 'there'
bob = str1 + str2
print(bob)

str3 = '123'
# str3 = str3 + 1 'you cannot add a string and an integer

x = int(str3) + 1
print(x)

Hello there
124

# Reading and Converting
* We prefer to read data in python using strings and then parse and convert the data as we need
* This gives us more control over error situations and /or bad user input
* Input numbers must be converted from strings

In [3]:
name = input('Enter your name: ')
print(name)
apple = input('write something: ')
# x = apple - 10 this will rasie an error because you cannot subtract an integer from a string

x = int(apple) - 10
print(x)

Enter your name: Jay
Jay
write something: 100
90

# Looking Inside Strings
* We can get at any single character in a string using an index specified in square brackets
*the index value must an integer and starts at zero
* The index value canbe an expression that is computed


```
|b|a|n|a|n|a|
|0|1|2|3|4|5|
```

In [5]:
fruit = 'banana'
letter = fruit[1]
print(letter)

x = 3
w = fruit[x - 1]
print(w)

a
n

# A Character Too Far
* You will get a python error if you attempt to index beyond the end of a string
* So be careful when constructing index values and slices

In [ ]:
zot = 'abc'
# print(zot[5]) this will raise an error because the index is beyond the varaible abc

# Strings Have Length
* The built-in function 'len' gives us the length of a string


```
|b|a|n|a|n|a|
|0|1|2|3|4|5|
```

In [7]:
fruit = 'banana'
print(len(fruit))

6



```
Len Function
A function is some stored code that we use. A function takes some input and produces an output

'banana'
(a string) --> def len(inp): --> 6
                    blah
                    blah
                    for x in y:
                    blah
                    blah


```

# Looping Through Strings
Using a 'while' statement and an iteration variable, and the 'len' function, we can construct a loop to look at each of the letter in a string individually

In [8]:
fruit = 'banana'
index = 0
while index < len(fruit):
  letter = fruit[index]
  print(index, letter)
  index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

* A definite loop using a 'for' statement is much more elegant
* The iteration variable is completely taken care of by the 'for' loop.

In [9]:
fruit = 'banana'
for letter in fruit:
  print(letter)

b
a
n
a
n
a

# Looping and Counting
* This is a simple loop that loops through each letter in a string and counts the number of times the loop encounter the 'a' character

In [11]:
word = 'banana'
count = 0
for letter in word:
    if letter == 'a':
        count = count + 1
print(count)

3

# Looking Deeper into 'in'
* The iteration variable 'iterates' through the sequence (ordered set)
* The block (body) of code is executed once for each value in the sequence
* The iteration variable moves through all of the values in the sequence


```
for letter in 'banana':
    print(letter)

'letter' here is the iteration variable
'banana' here is a six-character string
```

# Slicing Strings
* This is one way to not loop through the strings
* We can also look at any continuous section of a string using a 'colon operation'
* The second number is one beyond the end of the slice "up to but not including'
* If the second number is beyond the end of the string, it stops at the end.


```
|M|o|n|t|y| |P|y|t|h| o| n|
 0 1 2 3 4 5 6 7 8 9 10  11
```

In [12]:
s = 'Monty Python'
print(s[0:4]) #stops at index 3
print(s[6:7]) #stops at index 6
print(s[6:20]) #stops at the highest index before 20 if it is index is less than 20

Mont
P
Python

If we leave off the first number or the last number of the slice, it is assumed to be the beginning or the end of the string respectively.

In [13]:
s = 'Monty Python'
print(s[:2])
print(s[8:])
print(s[:])

Mo
thon
Monty Python

# Manipulating Strings
## String concatenation
*When the '+' operator is applied to strings, it means "concatenation"

In [21]:
a = 'Hello'
b = a + 'There'
print(b)

c = a + ' ' + 'There'
print(c)

HelloThere
Hello There

# Using 'in' as a Logical Operator
* The 'in' keyword can also be used to check to see if one string is 'in' another string
* The 'in' expression is a logical expression that returns True or False and can be used in an 'if' statement.

In [2]:
fruit = 'banana'
'n' in fruit
'm' in fruit
'man' in fruit
'nan' in fruit
if 'a' in fruit:
  print('Found it!')

Found it!

In [23]:
# Exercise for 'in' as a logical operator
for i in 'banana':
    if 'n' in i:
        print(i)

n
n

In [5]:
# Test
fruit = 'banana'
x = 'n' in fruit
y = 'm' in fruit
print(x, y)

True False

# String Comparison

```
if word == 'banana':
    print('All right, bananas.')
if word < 'banana':
    print('Your word,' + word + ',comes before banana.')
elif word > 'banana':
    print('Your word,' + word + ', comes after banana.')
else:
    print('All right, bananas.')
```
* Uppercase letters are generally less than lowercase letters

```
Z < a
A < a
```

# String Library
* Python has a number of string functions which are in the string library
* These functions are already built into every string - we invoke them by appending the function to the string variable
* These functions do not modify the original string, instead they return a new string that has been altered

In [6]:
greet = 'Hello Bob'
zap = greet.lower()
print(zap)
print(greet)
print('Hi There'.lower())

hello bob
Hello Bob
hi there

In [9]:
x = 'Hello world'
type(x) #this gives us the type of data which is a 'str'
dir(x) #shows us what are strings capable of. Output are the method class. Check python documentation for more details

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Common things we can do with the string library
```
* str.capitalize()
* str.center(widath[, fillchar])
* str.endswith(suffix[, start[, end]])
* str.find(sub[, start[, end]])
* str.lstrip([chars])
* str.replace(old, new[, count])
* str.lower()
* str.rstrip([chars])
* str.strip([chars])
* str.upper()
```

# Searching a String
* We use the find( ) function to search for a substring within another string
* find( ) finds the first occurence of the substring
* If the substring is not found, find( ) returs -1
* Remember that string position starts at zero

```
|b|a|n|a|n|a|
 0 1 2 3 4 5
```

In [10]:
fruit = 'banana'
x = fruit.find('na')
print(x)

aa = fruit.find('z')
print(aa)

2
-1

# Making Everything UPPER CASE
* You can make a copy of a string lower case or upper case
* Often when we are searching for a string using find( ) we first convert the string to lower case so we can search a string regardless of case

In [11]:
greet = 'Hello Bob'
xxx = greet.upper()
print(xxx)

YYY = greet.lower()
print(YYY)

HELLO BOB
hello bob

# Search and Replace
* The replace( ) function is like a "search and replace" operation in a word processor
* It replaces all occurences of the search string with the replacement string

In [12]:
greet = 'Hello Bob'
nstr = greet.replace('Bob', 'Jane')
print(nstr)

mstr = greet.replace('o', 'X')
print(mstr)

Hello Jane
HellX BXb

# Strpping Whitespaces (new lines or tabs)
* Sometimes we want to take a string and remove whitespaces at the beginning and/or end
* Istrip( ) and rstrip( ) remove whitespace at the left or right
* strip( ) removes both beginning and ending whitespace

In [14]:
greet = ' Hello Bob '
x = greet.lstrip()
y = greet.rstrip()
z = greet.strip()
print(x)
print(y)
print(z)

Hello Bob
 Hello Bob
Hello Bob

# Prefixes

In [17]:
line = 'Please have a nice day'
x = line.startswith('Please')
y = line.startswith('p')
print(x)
print(y)

True
False

# Parsing and Extracting
From chinua.emenik@uct.ac.za Sat Jan 5 09:14:16 2008

In [18]:
data = 'From chinua.emenike@uct.ac.za Sat Jan 5 09:14:16 2008'
atpos = data.find('@') #where is the position of '@'
print(atpos)

sppos = data.find(' ', atpos) #where is the next space after 'atpos'
print(sppos)

host = data[atpos + 1 : sppos]
print(host)

19
29
uct.ac.za